<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="BUS1-API">
 <bookinfo>
  <title>The Internal Bus1 API</title>
 </bookinfo>

 <toc></toc>

 <chapter id="intro">
    <title>Bus1 Overview</title>

!Pipc/bus2/main.h Bus1 Overview
 </chapter>

 <chapter id="peer">
    <title>Bus1 Peer</title>

!Pipc/bus2/peer.h Peers
!Iipc/bus2/peer.h
!Iipc/bus2/peer.c

 </chapter>

 <chapter id="message">
    <title>Bus1 Message</title>

!Pipc/bus2/message.h Messages
!Iipc/bus2/message.h
!Iipc/bus2/message.c

 </chapter>

 <chapter id="transaction">
    <title>Bus1 Transaction</title>

!Pipc/bus2/tx.h Transactions
!Iipc/bus2/tx.h
!Iipc/bus2/tx.c

 </chapter>

 <chapter id="handle">
    <title>Bus1 Handle</title>

!Pipc/bus2/handle.h Handles
!Iipc/bus2/handle.h
!Iipc/bus2/handle.c

 </chapter>

 <chapter id="user">
    <title>Bus1 User</title>

!Pipc/bus2/user.h Users
!Iipc/bus2/user.h
!Iipc/bus2/user.c

 </chapter>

 <chapter id="active">
    <title>Bus1 Active Reference</title>

!Pipc/bus2/util/active.h Active References
!Iipc/bus2/util/active.h
!Iipc/bus2/util/active.c

 </chapter>

 <chapter id="flist">
    <title>Bus1 Fixed List</title>

!Pipc/bus2/util/flist.h Fixed Lists
!Iipc/bus2/util/flist.h
!Iipc/bus2/util/flist.c

 </chapter>

 <chapter id="pool">
    <title>Bus1 Pool</title>

!Pipc/bus2/util/pool.h Pools
!Iipc/bus2/util/pool.h
!Iipc/bus2/util/pool.c

 </chapter>

 <chapter id="queue">
    <title>Bus1 Queue</title>

!Pipc/bus2/util/queue.h Message Queue
!Iipc/bus2/util/queue.h
!Iipc/bus2/util/queue.c

 </chapter>
</book>
<!-- vim:syntax=sgml:sw=4
-->
